<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This allows you to search for places using your voice.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone is used to capture your voice for speech-to-text functionality.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.421122967394-3kgohfd2r75e8r14o9fmhtdva0tq8p7u</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>rw.apple.cityscout.CityScout</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb642645272095696</string>
			</array>
		</dict>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>This allows you to save your booked trips directly to your calendar for easy access and reminders.</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>FacebookAppID</key>
	<string>642645272095696</string>
	<key>FacebookClientToken</key>
	<string>ecf2cdd5ddaf2c561caac7193c684e2d</string>
	<key>FacebookDisplayName</key>
	<string>City Scout</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb-login-native-sf</string>
	</array>
</dict>
</plist>
